---
layout: iocage
---
<nav class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Chapter Index</h1>
      <ul>
        {% for chapter in site.chapters %}
        {% if chapter.chapters %}
        <li>{{chapter.title}}</li>
        <li class="sub-chapters">
          <ul>
            {% for chapter in chapter.chapters %}
              <li>
                <a href="{{ chapter.url | relative_url }}" class="{% if page.url contains chapter.url %}active{% endif %}">{{chapter.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{{ chapter.url | relative_url }}" class="{% if chapter.url == page.url %}active{% endif %}">{{chapter.title}}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{page.title}}</h1>
      <content>{{content}}</content>
    </div>
  </div>
</div>
